.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.mobile {
    width: 913px;
}

.desktop {
    width: 1036px;
}

body {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    display: flex;
    justify-content: center;
}

.tile {
    background-image: url('../img/tile.webp');
    background-size: 80px;
}
