.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.mobile {
    width: 913px;
}

body {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tile {
    background-image: url('../img/tile.webp');
    background-size: 20px;
}

.color {
    background-color: black;
}
