.wallpaper {
    max-width: max-content;
    margin: auto;
    background-image: url("../img/icons/wallpaper.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}